*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}
.elementx-container{
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}
/* header style */
.elementx-logo{
    text-align: center;
    padding-top: 52px;
    padding-bottom: 108px;
}
.elementx-logo img{
        max-width: 100%;
        height: auto;
}
/* elementx hero section */ 
.elementx-hero-section{
    background-color: #000000;
}

.hero-text-wrapper h4{
    font-size: 32px;
    letter-spacing: 5px;
    color: #FFD600;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 31px;
}
.hero-heading{
 max-width: 1160px;
 margin: 0 auto;
}
.hero-heading h1{
    font-size: 76px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    line-height: 1.13;
    margin-bottom: 45px;
}
.hero-button{
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 45px;
}
.link-button{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 40px;
    font-family: "DM Sans", sans-serif;
    background-color: #85CD17;
    border-radius: 10px;
    color: #000000;
    display: inline-block;
}
.hero-image-wrapper img{
    max-width: 1280px;
    width: 100%;
}

/* -----------struggling section---------------------- */
.struggling-content-wrapper{
    padding: 137px 0 140px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 141px;
}

.struggling-heading{
    max-width: 562px;
}
.struggling-heading h2 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #172217;
    margin-bottom: 37px;
}
.struggling-description{
    max-width: 562px;
}
.struggling-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #595F59;
}
.struggling-list{
    margin-top: 25px;
}
.struggling-list-item{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 18px;

}
.struggling-list-item p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #595F59;

}

/* ----------------imagine section------------- */
.imagine-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 133px;
    padding-bottom: 142px;
}

.imagine-heading{
    max-width: 562px;
}
.imagine-heading h2 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.2;
    color: #172217;
    margin-bottom: 47px;
}
.imagine-description{
    max-width: 562px;
}
.imagine-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #595F59;
}
.imagine-list{
    margin-top: 25px;
}
.imagine-list-item{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 18px;

}
.imagine-list-item p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #595F59;

}

/* bridging section */
.bridging-content-wrapper{
    padding-bottom: 276px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 93px;
}

.bridging-heading{
    max-width: 562px;
}
.bridging-heading h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 47px;
    color: #172217;
}
.bridging-description{
    max-width: 464px;
}
.bridging-description p{
    font-size: 18px;
    font-weight: 400;
    color: #595F59;
    line-height: 1.5;
}
.bridging-image-wrapper img{
    max-width: 100%;
    height: auto;
}

/* membership section */
.membership-content-wrapper{
    padding-bottom: 191px;

}
.membership-text-wrapper{
    margin-bottom: 66px;
}
.membership-heading{
    max-width: 562px;
    margin: 0 auto;
}
.membership-heading h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
    color: #172217;
}
.membership-description{
    max-width: 690px;
    margin: 0 auto;
}
.membership-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #BBBBBB;
}

/* membership card */
.membership-card-wrapper {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 310px;
}
.membership-card{
    max-width: 276px;
}

.membership-card-image img{
    padding: 0 39px 39px 39px ;
    max-width: 100%;
    height: auto;
}
.membership-card-heading h4{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    margin-bottom: 26px;
}

.membership-card-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    color: #C5D7C5;
}

/* ready to transform section */
.elementx-transform-section{
    background: linear-gradient(to right, #162205,#2F490B,#85CD17);
}
.transform-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    padding-bottom: 48px;
}
.transform-text-wrapper{
    flex: 1;
}
.transform-image-wrapper{
    flex: 1;
}
.transform-heading{
    max-width: 774px;
    margin-bottom: 51px;
}
.transform-heading h2{
    font-size: 76px;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
}

.transform-image img{
    max-width: 100%;
    height: auto;
    margin-top: -62px;
}

/* review section start */
.elementx-review-section{
    background: linear-gradient(to right, #E8F7D200 0%, #E8F7D2 100%);
}
.review-content-wrapper{
    padding: 135px 0 140px 0;
}

.review-heading{
    max-width: 755px;
    margin: 0 auto;
}

.review-heading h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 27px;
}

.review-description{
    max-width: 690px;
    margin: 0 auto;
}
.review-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #595F59;
}

/* review card */
.review-card-wrapper{
    display: flex;
    gap: 40px;
    margin-top: 66px;
    filter: drop-shadow(10px #2A462B33 20%);
}
.review-card{
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.review-card-description p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    color: #595F59;
    margin: 26px 0 23px 0;
}
.name{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #595F59;
}
.designation{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #595F59;
}
/* creativity section start */
.creativity-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 122px;
}
.creativity-image-wrapper{
    width: 50%;
}
.creativity-image-wrapper img{
    max-width: 100%;
    height: auto;
}
.creativity-text-wrapper{
    width: 50%;
}

/* gradient button */
.gradient-wrapper{
    display: inline-block;
}
.gradient-heading{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    background: linear-gradient(to right, #85CD17 0%, #fff 100%);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase;
}
/* section heading */
.creativity-heading{
    max-width: 498px;
    margin: 20px 0 31px 0;
}
.section-heading{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}

.creativity-description{
    max-width: 516px;
}

.section-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #595F59;
}

/* addressing-section-start */
.addressing-content-wrapper{
    margin: 120px 0 130px 0;
}
.addressing-text-wrapper{
    margin-bottom: 77px;
}
.addressing-heading{
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}
.concern{
    color: #FFD600;
}
.addressing-description{
    max-width: 867px;
    margin: 0 auto;
    text-align: center;
    color: #595F59;
}
/* addressing options */
.addressing-option-heading h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 3.1;
}

.addressing-option-heading h4 span{
    color: red;
}



/* --------------------small laptop responsive-------------------- */
@media (max-width: 1024px){
    .section-heading{   
        font-size: 36px;
        line-height: 1.1;
    }
    .section-description{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        color: #595F59;
    }

    .elementx-logo {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .hero-text-wrapper h4 {
        font-size: 22px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .hero-heading h1 {
        font-size: 36px;
        margin-bottom: 35px;
    }
    .hero-button{
        margin-bottom: 25px;
    }
    .link-button {
        font-size: 18px;
        padding: 16px 18px;
        border-radius: 10px;
    }
    /* struggling section */
    .struggling-content-wrapper {
        padding: 100px 0 100px 0;
        gap: 30px;
    }
    .struggling-heading h2 {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .struggling-description p {
        font-size: 16px;
        line-height: 1.5;
    }
    .struggling-list-item {
        gap: 8px;
        margin-bottom: 8px;
    }
    .struggling-list-item p {
        font-size: 16px;
        line-height: 1;
    }
    .struggling-image-wrapper img{
        max-width: 100%;
        height: auto;
    }

    /* imagine */
    .imagine-content-wrapper {
        padding-bottom: 100px;
        gap: 30px;
    }

    .imagine-heading h2 {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .imagine-description p {
        font-size: 16px;
        line-height: 1.5;
    }
    .imagine-list-item {
        gap: 8px;
        margin-bottom: 8px;
    }
    .imagine-list-item p {
        font-size: 16px;
        line-height: 1;
    }
    .imagine-image-wrapper img{
        max-width: 100%;
        height: auto;
    }

    /* bridging section */
.bridging-content-wrapper{
    padding-bottom: 100px;
    gap: 30px;
}

.bridging-heading h2{
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 30px;
}

.bridging-description p{
    font-size: 16px;
    line-height: 1.5;
}
/* membership section */
.membership-content-wrapper {
    padding-bottom: 100px;
}
.membership-heading h2 {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 30px;
}

.membership-description p {
    font-size: 16px;
    line-height: 1.5;
}
/* card */
.membership-card-wrapper {
    gap: 30px;
}
.membership-card-image {
    text-align: center;
}
.membership-card-image img {
    padding: 0 20px 20px 20px;
}

.membership-card-heading h4 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
}
.membership-card-description p {
    font-size: 16px;
    line-height: 1.5;
}
/* ready to transform section */
.transform-heading {
    margin-bottom: 30px;
}
.transform-heading h2 {
    font-size: 36px;
}
.transform-image img {
    margin-top: -52px;
}
/* review section */
.review-content-wrapper {
    padding: 120px 0 120px 0;
}

.review-heading h2 {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.review-description p{
    font-size: 16px;
    line-height: 1.5;
}

/* review card */
.review-card-wrapper {
    gap: 30px;
    margin-top: 50px;
}
.review-card {
    padding: 20px;
    border-radius: 15px;
}
.review-card-description p {
    font-size: 16px;
    margin: 20px 0 20px 0;
}
.name {
    font-size: 16px;
    line-height: 1.2;
}
.designation {
    font-size: 14px;
    line-height: 1.4;
}
/* creativity section */
.creativity-content-wrapper {
    gap: 40px;
}
.creativity-heading {
    max-width: 498px;
    margin: 16px 0 20px 0;
}
.gradient-heading {
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 2px;
}

}

/* --------------------tablet responsive-------------------- */
@media (max-width: 768px){
    .section-heading{   
        font-size: 24px;
    }
    .elementx-logo {
        padding-bottom: 40px;
    }
    .hero-text-wrapper h4 {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .hero-heading h1 {
        font-size: 36px;
        line-height: 1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .link-button {
        font-size: 16px;
        padding: 14px 18px;
    }
    /* struggling section */
    .struggling-content-wrapper {
        padding: 80px 0 80px 0;
    }
    .struggling-heading h2 {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .struggling-description p {
        font-size: 14px;
        line-height: 1.5;
    }
    .struggling-list {
        margin-top: 20px;
    }
    .struggling-list-item {
        gap: 8px;
        margin-bottom: 10px;
    }
    .struggling-list-item p {
        font-size: 14px;
        line-height: 1;
    }

    /* imagine section */
    .imagine-content-wrapper {
        padding-bottom: 80px;
    }
    .imagine-heading h2 {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .imagine-description p {
        font-size: 14px;
        line-height: 1.5;
    }
    .imagine-list {
        margin-top: 20px;
    }
    .imagine-list-item {
        gap: 8px;
        margin-bottom: 10px;
    }
    .imagine-list-item p {
        font-size: 14px;
        line-height: 1;
    }

        /* bridging section */
.bridging-content-wrapper{
    padding-bottom: 80px;
}

.bridging-heading h2{
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.bridging-description p{
    font-size: 14px;
}
/* membership section */
.membership-content-wrapper {
    padding-bottom: 80px;
}
.membership-card-wrapper {
    gap: 20px;
}
.membership-heading h2 {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 20px;
}
.membership-card-image img {
    padding: 0px 0px 20px 0px;
}
.membership-card-heading h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 16px;
}

.membership-card-description p {
    font-size: 14px;
    line-height: 1.3;
}

/* ready to transform section */
.transform-heading {
    margin-bottom: 20px;
}
.transform-heading h2 {
    font-size: 24px;
}
.transform-image img {
    margin-top: -42px;
}
/* review section */
.review-content-wrapper {
    padding: 100px 0 100px 0;
}
.review-card-wrapper {
    gap: 20px;
    margin-top: 40px;
}
.review-heading h2 {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 20px;
}
/* creativity section */
.creativity-content-wrapper {
    gap: 40px;
    flex-direction: column;
}
.creativity-image-wrapper {
    width: 100%;
}
.creativity-text-wrapper {
    width: 100%;
    padding: 0 20px 0 20px;
}

}


/* --------------------mobile responsive-------------------- */
@media(max-width:425px){
    .container{
        padding: 20px 20px 0 20px;
    }

    .hero-text-wrapper h4 {
        font-size: 22px;
        letter-spacing: 4px;
    }

    .hero-heading h1 {
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .hero-button{
        margin-bottom: 22px;
    }
    .link-button {
        font-size: 14px;
        padding: 14px 16px;
        border-radius: 25px;
    }
    /* struggling section */
    .struggling-content-wrapper {
        gap: 20px;
        flex-direction: column;
        padding: 40px 0 40px 0;        
    }
        /* imagine section */
        .imagine-content-wrapper {
            gap: 20px;
            flex-direction: column-reverse;       
        }
    /* bridging section */
    .bridging-content-wrapper{
        gap: 20px;
        flex-direction: column;
        padding-bottom: 40px;
    }
    
    .bridging-heading h2{
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    
    .bridging-description p{
        font-size: 14px;
    }
/* membership section */
    .membership-card-wrapper {
        flex-direction: column;
        align-items: center;
    }

    /* ready to transform section */
    .transform-content-wrapper{
        flex-direction: column-reverse;
    }
    .transform-image img {
        margin-top: 0;
    }
    /* review section */
    .review-content-wrapper {
        padding: 80px 0 80px 0;
    }
    .review-card-wrapper {
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
    }
    /* creativity section */
    .creativity-content-wrapper{
        gap: 20px;
    }
}


