*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}
.elementx-container{
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
}
/* header style */
.elementx-logo{
    text-align: center;
    padding-top: 52px;
    padding-bottom: 108px;
}
.elementx-logo img{
        max-width: 100%;
        height: auto;
}
/* elementx hero section */ 
.elementx-hero-section{
    background-color: #000000;
}

.hero-text-wrapper h4{
    font-size: 32px;
    letter-spacing: 5px;
    color: #FFD600;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 31px;
}
.hero-heading{
 max-width: 1160px;
 margin: 0 auto;
}
.hero-heading h1{
    font-size: 76px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    line-height: 1.13;
}
.hero-button{
    text-align: center;
    box-sizing: border-box;
}
.hero-button a{
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    padding: 30px 40px;
    font-family: "DM Sans", sans-serif;
    background-color: #85CD17;
    border-radius: 10px;
    color: #000000;
    display: inline-block;
    margin-top: 45px;
}
.hero-image-wrapper img{
    max-width: 1280px;
    width: 100%;
}

/* -----------struggling section---------------------- */
.struggling-content-wrapper{
    padding: 137px 0 140px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 141px;
}

.struggling-heading{
    max-width: 562px;
}
.struggling-heading h2 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #172217;
    margin-bottom: 37px;
}
.struggling-description{
    max-width: 562px;
}
.struggling-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #595F59;
}
.struggling-list{
    margin-top: 25px;
}
.struggling-list-item{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 18px;

}
.struggling-list-item p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #595F59;

}

/* ----------------imagine section------------- */
.imagine-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 133px;
}

.imagine-heading{
    max-width: 562px;
}
.imagine-heading h2 {
    font-size: 50px;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    line-height: 1.2;
    color: #172217;
    margin-bottom: 47px;
}
.imagine-description{
    max-width: 562px;
}
.imagine-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #595F59;
}
.imagine-list{
    margin-top: 25px;
}
.imagine-list-item{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 18px;

}
.imagine-list-item p{
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: #595F59;

}

/* membership heading */
.membership-heading{
    max-width: 562px;
    margin: 0 auto;
}
.membership-heading h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
    color: #172217;
}
.membership-description{
    max-width: 690px;
    margin: 0 auto;
}
.membership-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: #BBBBBB;
    margin-bottom: 60px;
}
/* membership card */
.membership-card-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.membership-card{
    text-align: center;
}

.membership-card img{
    max-width: 100%;
    height: auto;
}
.membership-card-heading{
    max-width: 295px;
    margin: 0 auto;
}
.membership-card-heading h4{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    color: #172217;
    margin-top: 40px;
}
.membership-card-description{
    max-width: 285px;
    margin: 0 auto;
}
.membership-card-description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #C5D7C5;
    text-align: center;
}




/* --------------------small laptop responsive-------------------- */
@media (max-width: 1024px){
    .elementx-logo {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .hero-text-wrapper h4 {
        font-size: 22px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .hero-heading h1 {
        font-size: 36px;
    }
    .hero-button a {
        font-size: 18px;
        padding: 16px 18px;
        border-radius: 10px;
        margin-top: 25px;
    }
    /* struggling section */
    .struggling-content-wrapper {
        padding: 100px 0 100px 0;
        gap: 30px;
    }
    .struggling-heading h2 {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .struggling-description p {
        font-size: 16px;
        line-height: 1.5;
    }
    .struggling-list-item {
        gap: 8px;
        margin-bottom: 8px;
    }
    .struggling-list-item p {
        font-size: 16px;
        line-height: 1;
    }
    .struggling-image-wrapper img{
        max-width: 100%;
        height: auto;
    }

    /* imagine */
    .imagine-heading h2 {
        font-size: 36px;
        line-height: 1.1;
        margin-bottom: 30px;
    }
    .imagine-description p {
        font-size: 16px;
        line-height: 1.5;
    }
    .imagine-list-item {
        gap: 8px;
        margin-bottom: 8px;
    }
    .imagine-list-item p {
        font-size: 16px;
        line-height: 1;
    }
    .imagine-image-wrapper img{
        max-width: 100%;
        height: auto;
    }
}

/* --------------------tablet responsive-------------------- */
@media (max-width: 768px){
    .elementx-logo {
        padding-bottom: 40px;
    }
    .hero-text-wrapper h4 {
        font-size: 24px;
        letter-spacing: 2px;
    }

    .hero-heading h1 {
        font-size: 36px;
        line-height: 1;
        margin-top: 20px;
    }
    .hero-button a {
        font-size: 16px;
        padding: 14px 18px;
    }
    /* struggling section */
    .struggling-content-wrapper {
        padding: 80px 0 80px 0;
    }
    .struggling-heading h2 {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .struggling-description p {
        font-size: 14px;
        line-height: 1.5;
    }
    .struggling-list {
        margin-top: 20px;
    }
    .struggling-list-item {
        gap: 8px;
        margin-bottom: 10px;
    }
    .struggling-list-item p {
        font-size: 14px;
        line-height: 1;
    }

    /* imagine section */
    .imagine-heading h2 {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    .imagine-description p {
        font-size: 14px;
        line-height: 1.5;
    }
    .imagine-list {
        margin-top: 20px;
    }
    .imagine-list-item {
        gap: 8px;
        margin-bottom: 10px;
    }
    .imagine-list-item p {
        font-size: 14px;
        line-height: 1;
    }
}

/* --------------------mobile responsive-------------------- */
@media(max-width:425px){
    .container{
        padding: 20px 20px 0 20px;
    }

    .hero-text-wrapper h4 {
        font-size: 22px;
        letter-spacing: 4px;
    }

    .hero-heading h1 {
        font-size: 28px;
        margin-top: 20px;
    }

    .hero-button a {
        font-size: 14px;
        padding: 14px 16px;
        border-radius: 25px;
        margin-top: 22px;
    }
    /* struggling section */
    .struggling-content-wrapper {
        gap: 20px;
        flex-direction: column;
        padding: 40px 0 40px 0;        
    }
        /* imagine section */
        .imagine-content-wrapper {
            gap: 20px;
            flex-direction: column-reverse;       
        }
}


